@(blog: au.id.jazzy.erqx.engine.models.Blog,
  router: au.id.jazzy.erqx.engine.controllers.BlogReverseRouter,
  title: Option[String])(implicit req: RequestHeader)

@au.id.jazzy.erqx.themes.jazzy.html.head(blog, router, title)

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22554795-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
